@import url("https://fonts.googleapis.com/css?family=PT+Sans");
body {
  font-family: "PT Sans", sans-serif;
}

h2 {
  font-size: 36px;
}

img {
  border-radius: 6px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navigation {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: black;
}

.links {
  height: 50px;
  display: flex;
}
.links > * {
  width: 33.3%;
}
.links > *:first-child {
  justify-content: flex-start;
}
.links > *:nth-child(2) {
  justify-content: center;
}
.links > *:last-child {
  justify-content: flex-end;
}

.icon_container {
  font-size: 32px;
  display: flex;
}
.icon_container a {
  color: white;
}

.link_container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
}
.link_container:hover {
  background-color: grey;
  cursor: pointer;
}

.main {
  margin-top: 50px;
  width: 100%;
}

.header {
  background-color: #FF3B3F;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.personal_photo {
  flex: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.personal_photo img {
  height: 300px;
  margin: 50px 50px 50px 0;
  border-radius: 50%;
}

.personal_info {
  margin-left: 50px;
  flex: 5;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.about {
  width: 50%;
}

.info_container {
  display: flex;
  justify-content: center;
  width: 80%;
}
.info_container .info_img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 3;
}
.info_container .info_img img {
  align-self: flex-start;
  max-height: 80px;
  max-width: 80px;
  margin: 25px 50px 0 0;
}
.info_container .info {
  flex: 5;
}
.info_container .info p {
  width: 80%;
}

.project_grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  width: 30%;
  text-decoration: none;
  color: black;
  text-align: center;
  border-radius: 6px;
  transition: 0.2s;
  overflow: hidden;
}
.project:hover {
  background-color: #D5D5D5;
  transition: 0.2s;
}
.project img {
  margin-top: 10px;
  width: 95%;
  max-height: 350px;
  overflow: hidden;
}

.more_projects {
  margin-top: 50px;
  text-decoration: none;
  font-size: 24px;
  color: black;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.more_projects:before {
  content: "";
  position: absolute;
  width: 122px;
  height: 2px;
  margin-top: 30px;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.more_projects:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.more_projects i {
  padding-left: 10px;
}

#resume {
  position: fixed;
  bottom: 5px;
  left: 10px;
  font-size: 36px;
}
#resume a {
  color: black;
  transition: 0.2s;
}
#resume a:hover {
  color: #FF3B3F;
  transition: 0.2s;
}
